  <nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" >
        <img src="https://cdn-icons-png.flaticon.com/512/807/807814.png" alt="Logo" width="50" height="44" class="d-inline-block align-text">
        <span style="color: white; font-weight: bold; font-size: 130%;"> ClassRoom</span>
      </a>
    </div>
  </nav>
  <body>
    <div class="container">
      <div class="abs-center">
        <div class="card ">
            <div class="card-header">
                <h5 class="card-title">INICIA SESIÓN</h5>
              </div>
            <div class="card-body">
            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Correo</label>
                  <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone:true}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                  <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone:true}" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary col-6" (click)="logIn()">Ingresar</button>
              </form>
            </div>
            <p class="pss"><a routerLink="/password-reset">Olvidaste tu contraseña?</a></p>
          </div>
      </div>
    </div>
  </body>

