.tit{
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    margin: 2%;
}
.filter{
    margin-top: 14px;
    margin-left: 100px;
}
.btn-primary{
    border: none;
    background-color: var(--color-2);
    font-weight: bold;
    margin: auto;
    margin-top: 2%;
    width: 20%;
    display: flex;
    justify-content: center;
}