.fluid{
    background-color: var(--color-3);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-family: Bree Serif;
    color: white;
    position: relative;
    margin-top: 4.57%;
}
.text-1{
  margin-right: 1%;
  font-family: Bree Serif;

}
.text{
    margin-top: -1.5%;
    margin-right: 1%;
}
.text-2{
    margin-top: -1.5%;
   
}